# Introducción a SQL con Pandas

### Setup

Primero importamos la librería Pandas y SQLite

In [2]:
import pandas as pd
import sqlite3 as sql

Ahora leemos la información de graduados de universidades desde el github de fivethirtyeight de Nate Silver

In [29]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv")
df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB

Ahora crearemos nuestra base de datos a partir del DataFrame que acabamos de descargar, primero establecemos la conexión a nuestra base de datos

In [31]:
con = sql.connect("clase3.db")

y generamos un cursos que nos ayude a manipular esta base de datos con SQL

In [32]:
cur = con.cursor()

El siguiente paso es convertir nuestro DataFrame en una tabla de la base de datos

In [33]:
df.to_sql?

In [34]:
df.to_sql('recent_grads',con)

Ahora podemos ejecutar sentencias SQL de dos formas, directo de la base de datos con cur.execute

In [36]:
cur.execute('''
SELECT * FROM recent_grads;
''')

In [37]:
cur.fetchall() # Nos muestra todos los resultados de nuestra Query

[(0,
  1,
  2419,
  'PETROLEUM ENGINEERING',
  2339.0,
  2057.0,
  282.0,
  'Engineering',
  0.120564344,
  36,
  1976,
  1849,
  270,
  1207,
  37,
  0.018380527,
  110000,
  95000,
  125000,
  1534,
  364,
  193),
 (1,
  2,
  2416,
  'MINING AND MINERAL ENGINEERING',
  756.0,
  679.0,
  77.0,
  'Engineering',
  0.10185185199999999,
  7,
  640,
  556,
  170,
  388,
  85,
  0.117241379,
  75000,
  55000,
  90000,
  350,
  257,
  50),
 (2,
  3,
  2415,
  'METALLURGICAL ENGINEERING',
  856.0,
  725.0,
  131.0,
  'Engineering',
  0.153037383,
  3,
  648,
  558,
  133,
  340,
  16,
  0.024096386,
  73000,
  50000,
  105000,
  456,
  176,
  0),
 (3,
  4,
  2417,
  'NAVAL ARCHITECTURE AND MARINE ENGINEERING',
  1258.0,
  1123.0,
  135.0,
  'Engineering',
  0.107313196,
  16,
  758,
  1069,
  150,
  692,
  40,
  0.050125313,
  70000,
  43000,
  80000,
  529,
  102,
  0),
 (4,
  5,
  2405,
  'CHEMICAL ENGINEERING',
  32260.0,
  21239.0,
  11021.0,
  'Engineering',
  0.341630502,
  289,
  25694,
  23170,
  5180,
  16697,
  1672,
  0.061097712,
  65000,
  50000,
  75000,
  18314,
  4440,
  972),
 (5,
  6,
  2418,
  'NUCLEAR ENGINEERING',
  2573.0,
  2200.0,
  373.0,
  'Engineering',
  0.144966965,
  17,
  1857,
  2038,
  264,
  1449,
  400,
  0.177226407,
  65000,
  50000,
  102000,
  1142,
  657,
  244),
 (6,
  7,
  6202,
  'ACTUARIAL SCIENCE',
  3777.0,
  2110.0,
  1667.0,
  'Business',
  0.44135557299999995,
  51,
  2912,
  2924,
  296,
  2482,
  308,
  0.095652174,
  62000,
  53000,
  72000,
  1768,
  314,
  259),
 (7,
  8,
  5001,
  'ASTRONOMY AND ASTROPHYSICS',
  1792.0,
  832.0,
  960.0,
  'Physical Sciences',
  0.535714286,
  10,
  1526,
  1085,
  553,
  827,
  33,
  0.021167415,
  62000,
  31500,
  109000,
  972,
  500,
  220),
 (8,
  9,
  2414,
  'MECHANICAL ENGINEERING',
  91227.0,
  80320.0,
  10907.0,
  'Engineering',
  0.11955890300000001,
  1029,
  76442,
  71298,
  13101,
  54639,
  4650,
  0.057342277999999997,
  60000,
  48000,
  70000,
  52844,
  16384,
  3253),
 (9,
  10,
  2408,
  'ELECTRICAL ENGINEERING',
  81527.0,
  65511.0,
  16016.0,
  'Engineering',
  0.19645025600000002,
  631,
  61928,
  55450,
  12695,
  41413,
  3895,
  0.059173845,
  60000,
  45000,
  72000,
  45829,
  10874,
  3170),
 (10,
  11,
  2407,
  'COMPUTER ENGINEERING',
  41542.0,
  33258.0,
  8284.0,
  'Engineering',
  0.199412643,
  399,
  32506,
  30315,
  5146,
  23621,
  2275,
  0.065409275,
  60000,
  45000,
  75000,
  23694,
  5721,
  980),
 (11,
  12,
  2401,
  'AEROSPACE ENGINEERING',
  15058.0,
  12953.0,
  2105.0,
  'Engineering',
  0.139792801,
  147,
  11391,
  11106,
  2724,
  8790,
  794,
  0.065162085,
  60000,
  42000,
  70000,
  8184,
  2425,
  372),
 (12,
  13,
  2404,
  'BIOMEDICAL ENGINEERING',
  14955.0,
  8407.0,
  6548.0,
  'Engineering',
  0.437846874,
  79,
  10047,
  9017,
  2694,
  5986,
  1019,
  0.09208386,
  60000,
  36000,
  70000,
  6439,
  2471,
  789),
 (13,
  14,
  5008,
  'MATERIALS SCIENCE',
  4279.0,
  2949.0,
  1330.0,
  'Engineering',
  0.310820285,
  22,
  3307,
  2751,
  878,
  1967,
  78,
  0.023042836,
  60000,
  39000,
  65000,
  2626,
  391,
  81),
 (14,
  15,
  2409,
  'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
  4321.0,
  3526.0,
  795.0,
  'Engineering',
  0.183985189,
  30,
  3608,
  2999,
  811,
  2004,
  23,
  0.006334343,
  58000,
  25000,
  74000,
  2439,
  947,
  263),
 (15,
  16,
  2402,
  'BIOLOGICAL ENGINEERING',
  8925.0,
  6062.0,
  2863.0,
  'Engineering',
  0.32078431399999996,
  55,
  6170,
  5455,
  1983,
  3413,
  589,
  0.087143069,
  57100,
  40000,
  76000,
  3603,
  1595,
  524),
 (16,
  17,
  2412,
  'INDUSTRIAL AND MANUFACTURING ENGINEERING',
  18968.0,
  12453.0,
  6515.0,
  'Engineering',
  0.34347321799999997,
  183,
  15604,
  14879,
  2243,
  11326,
  699,
  0.042875544,
  57000,
  37900,
  67000,
  8306,
  3235,
  640),
 (17,
  18,
  2400,
  'GENERAL ENGINEERING',
  61152.0,
  45683.0,
  15469.0,
  'Engineering',
  0.252959838,
  425,
  44931,
  41235,
  7199,
  33540,
  2859,
  0.059824231,
  56000,
  36000,
  69000,
  26898,
  11734,
  3192),
 (18,
  19,
  2403,
  'ARCHITECTURAL ENGINEERING',
  2825.0,
  1835.0,
  990.0,
  'Engineering',
  0.35044247799999995,
  26,
  2575,
  2277,
  343,
  1848,
  170,
  0.061930782999999996,
  54000,
  38000,
  65000,
  1665,
  649,
  137),
 (19,
  20,
  3201,
  'COURT REPORTING',
  1148.0,
  877.0,
  271.0,
  'Law & Public Policy',
  0.236062718,
  14,
  930,
  808,
  223,
  808,
  11,
  0.011689692,
  54000,
  50000,
  54000,
  402,
  528,
  144),
 (20,
  21,
  2102,
  'COMPUTER SCIENCE',
  128319.0,
  99743.0,
  28576.0,
  'Computers & Mathematics',
  0.222695002,
  1196,
  102087,
  91485,
  18726,
  70932,
  6884,
  0.063172771,
  53000,
  39000,
  70000,
  68622,
  25667,
  5144),
 (21,
  22,
  1104,
  'FOOD SCIENCE',
  None,
  None,
  None,
  'Agriculture & Natural Resources',
  None,
  36,
  3149,
  2558,
  1121,
  1735,
  338,
  0.09693146,
  53000,
  32000,
  70000,
  1183,
  1274,
  485),
 (22,
  23,
  2502,
  'ELECTRICAL ENGINEERING TECHNOLOGY',
  11565.0,
  8181.0,
  3384.0,
  'Engineering',
  0.292607004,
  97,
  8587,
  7530,
  1873,
  5681,
  824,
  0.087557114,
  52000,
  35000,
  60000,
  5126,
  2686,
  696),
 (23,
  24,
  2413,
  'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
  2993.0,
  2020.0,
  973.0,
  'Engineering',
  0.325091881,
  22,
  2449,
  1658,
  1040,
  1151,
  70,
  0.027788805,
  52000,
  35000,
  62000,
  1911,
  305,
  70),
 (24,
  25,
  6212,
  'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
  18713.0,
  13496.0,
  5217.0,
  'Business',
  0.278790146,
  278,
  16413,
  15141,
  2420,
  13017,
  1015,
  0.058239614,
  51000,
  38000,
  60000,
  6342,
  5741,
  708),
 (25,
  26,
  2406,
  'CIVIL ENGINEERING',
  53153.0,
  41081.0,
  12072.0,
  'Engineering',
  0.22711794300000002,
  565,
  43041,
  38302,
  10080,
  29196,
  3270,
  0.07060957400000001,
  50000,
  40000,
  60000,
  28526,
  9356,
  2899),
 (26,
  27,
  5601,
  'CONSTRUCTION SERVICES',
  18498.0,
  16820.0,
  1678.0,
  'Industrial Arts & Consumer Services',
  0.09071250900000001,
  295,
  16318,
  15690,
  1751,
  12313,
  1042,
  0.060023041,
  50000,
  36000,
  60000,
  3275,
  5351,
  703),
 (27,
  28,
  6204,
  'OPERATIONS LOGISTICS AND E-COMMERCE',
  11732.0,
  7921.0,
  3811.0,
  'Business',
  0.32483805,
  156,
  10027,
  9639,
  1183,
  7724,
  504,
  0.047858702999999995,
  50000,
  40000,
  60000,
  1466,
  3629,
  285),
 (28,
  29,
  2499,
  'MISCELLANEOUS ENGINEERING',
  9133.0,
  7398.0,
  1735.0,
  'Engineering',
  0.189970437,
  118,
  7428,
  6811,
  1662,
  5476,
  597,
  0.074392523,
  50000,
  39000,
  65000,
  3445,
  2426,
  365),
 (29,
  30,
  5402,
  'PUBLIC POLICY',
  5978.0,
  2639.0,
  3339.0,
  'Law & Public Policy',
  0.558548009,
  55,
  4547,
  4163,
  1306,
  2776,
  670,
  0.128426299,
  50000,
  35000,
  70000,
  1550,
  1871,
  340),
 (30,
  31,
  2410,
  'ENVIRONMENTAL ENGINEERING',
  4047.0,
  2662.0,
  1385.0,
  'Engineering',
  0.342228811,
  26,
  2983,
  2384,
  930,
  1951,
  308,
  0.093588575,
  50000,
  42000,
  56000,
  2028,
  830,
  260),
 (31,
  32,
  2500,
  'ENGINEERING TECHNOLOGIES',
  3600.0,
  2695.0,
  905.0,
  'Engineering',
  0.251388889,
  39,
  2799,
  2257,
  689,
  1723,
  163,
  0.055030385,
  50000,
  43000,
  60000,
  1017,
  1269,
  142),
 (32,
  33,
  6099,
  'MISCELLANEOUS FINE ARTS',
  3340.0,
  1970.0,
  1370.0,
  'Arts',
  0.41017964100000004,
  30,
  2914,
  2049,
  1067,
  1200,
  286,
  0.089375,
  50000,
  25000,
  66000,
  693,
  1714,
  755),
 (33,
  34,
  2411,
  'GEOLOGICAL AND GEOPHYSICAL ENGINEERING',
  720.0,
  488.0,
  232.0,
  'Engineering',
  0.322222222,
  5,
  604,
  524,
  126,
  396,
  49,
  0.075038285,
  50000,
  42800,
  57000,
  501,
  50,
  49),
 (34,
  35,
  6107,
  'NURSING',
  209394.0,
  21773.0,
  187621.0,
  'Health',
  0.896018988,
  2554,
  180903,
  151191,
  40818,
  122817,
  8497,
  0.04486272400000001,
  48000,
  39000,
  58000,
  151643,
  26146,
  6193),
 (35,
  36,
  6207,
  'FINANCE',
  174506.0,
  115030.0,
  59476.0,
  'Business',
  0.34082495700000004,
  2189,
  145696,
  137921,
  21463,
  108595,
  9413,
  0.060686356,
  47000,
  35000,
  64000,
  24243,
  48447,
  9910),
 (36,
  37,
  5501,
  'ECONOMICS',
  139247.0,
  89749.0,
  49498.0,
  'Social Science',
  0.355469059,
  1322,
  104117,
  96567,
  25325,
  70740,
  11452,
  0.099092317,
  47000,
  35000,
  65000,
  25582,
  37057,
  10653),
 (37,
  38,
  6205,
  'BUSINESS ECONOMICS',
  13302.0,
  7575.0,
  5727.0,
  'Business',
  0.430536761,
  199,
  10914,
  10048,
  1937,
  8000,
  1165,
  0.096448381,
  46000,
  33000,
  58000,
  1578,
  4612,
  1284),
 (38,
  39,
  2503,
  'INDUSTRIAL PRODUCTION TECHNOLOGIES',
  4631.0,
  3477.0,
  1154.0,
  'Engineering',
  0.24919024,
  73,
  4428,
  3988,
  597,
  3242,
  129,
  0.028308097,
  46000,
  35000,
  65000,
  1394,
  2454,
  480),
 (39,
  40,
  5102,
  'NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES',
  2116.0,
  528.0,
  1588.0,
  'Physical Sciences',
  0.75047259,
  31,
  1778,
  1392,
  579,
  1115,
  137,
  0.07154047,
  46000,
  38000,
  53000,
  162,
  1475,
  124),
 (40,
  41,
  6201,
  'ACCOUNTING',
  198633.0,
  94519.0,
  104114.0,
  'Business',
  0.524152583,
  2042,
  165527,
  151967,
  27693,
  123169,
  12411,
  0.069749014,
  45000,
  34000,
  56000,
  11417,
  39323,
  10886),
 (41,
  42,
  3700,
  'MATHEMATICS',
  72397.0,
  39956.0,
  32441.0,
  'Computers & Mathematics',
  0.448098678,
  541,
  58118,
  46399,
  18079,
  33738,
  2884,
  0.047277137999999996,
  45000,
  33000,
  60000,
  34800,
  14829,
  4569),
 (42,
  43,
  2100,
  'COMPUTER AND INFORMATION SYSTEMS',
  36698.0,
  27392.0,
  9306.0,
  'Computers & Mathematics',
  0.253583302,
  425,
  28459,
  26348,
  4332,
  21130,
  2934,
  0.093460326,
  45000,
  30000,
  60000,
  13344,
  11783,
  1672),
 (43,
  44,
  5007,
  'PHYSICS',
  32142.0,
  23080.0,
  9062.0,
  'Physical Sciences',
  0.281936407,
  142,
  25302,
  19428,
  8721,
  14389,
  1282,
  0.048224496,
  45000,
  30000,
  68000,
  18674,
  4576,
  1823),
 (44,
  45,
  6105,
  'MEDICAL TECHNOLOGIES TECHNICIANS',
  15914.0,
  3916.0,
  11998.0,
  'Health',
  0.75392736,
  190,
  13150,
  11510,
  2665,
  9005,
  505,
  0.03698279,
  45000,
  36000,
  50000,
  5546,
  7176,
  1002),
 (45,
  46,
  2105,
  'INFORMATION SCIENCES',
  11913.0,
  9005.0,
  2908.0,
  'Computers & Mathematics',
  0.24410308100000003,
  158,
  9881,
  9105,
  1468,
  7378,
  639,
  0.060741445,
  45000,
  32500,
  58000,
  4390,
  4102,
  608),
 (46,
  47,
  3702,
  'STATISTICS AND DECISION SCIENCE',
  6251.0,
  2960.0,
  3291.0,
  'Computers & Mathematics',
  0.526475764,
  37,
  4247,
  3190,
  1840,
  2151,
  401,
  0.086273666,
  45000,
  26700,
  60000,
  2298,
  1200,
  343),
 (47,
  48,
  3701,
  'APPLIED MATHEMATICS',
  4939.0,
  2794.0,
  2145.0,
  'Computers & Mathematics',
  0.43429844100000004,
  45,
  3854,
  3465,
  1176,
  2593,
  385,
  0.09082330699999999,
  45000,
  34000,
  63000,
  2437,
  803,
  357),
 (48,
  49,
  3607,
  'PHARMACOLOGY',
  1762.0,
  515.0,
  1247.0,
  'Biology & Life Science',
  0.7077185020000001,
  3,
  1144,
  657,
  532,
  565,
  107,
  0.085531575,
  45000,
  40000,
  45000,
  603,
  478,
  93),
 (49,
  50,
  5006,
  'OCEANOGRAPHY',
  2418.0,
  752.0,
  1666.0,
  'Physical Sciences',
  0.688999173,
  36,
  1638,
  1931,
  379,
  1595,
  99,
  0.056994819,
  44700,
  23000,
  50000,
  459,
  996,
  186),
 (50,
  51,
  2501,
  'ENGINEERING AND INDUSTRIAL MANAGEMENT',
  2906.0,
  2400.0,
  506.0,
  'Engineering',
  0.174122505,
  29,
  2125,
  1992,
  462,
  1358,
  74,
  0.03365166,
  44000,
  30000,
  50000,
  482,
  844,
  245),
 (51,
  52,
  6104,
  'MEDICAL ASSISTING SERVICES',
  11123.0,
  803.0,
  10320.0,
  'Health',
  0.927807246,
  67,
  9168,
  5643,
  4107,
  4290,
  407,
  0.042506527,
  42000,
  30000,
  65000,
  2091,
  6948,
  1270),
 (52,
  53,
  4005,
  'MATHEMATICS AND COMPUTER SCIENCE',
  609.0,
  500.0,
  109.0,
  'Computers & Mathematics',
  0.178981938,
  7,
  559,
  584,
  0,
  391,
  0,
  0.0,
  42000,
  30000,
  78000,
  452,
  67,
  25),
 (53,
  54,
  2101,
  'COMPUTER PROGRAMMING AND DATA PROCESSING',
  4168.0,
  3046.0,
  1122.0,
  'Computers & Mathematics',
  0.269193858,
  43,
  3257,
  3204,
  482,
  2453,
  419,
  0.11398259,
  41300,
  20000,
  46000,
  2024,
  1033,
  263),
 (54,
  55,
  4006,
  'COGNITIVE SCIENCE AND BIOPSYCHOLOGY',
  3831.0,
  1667.0,
  2164.0,
  'Biology & Life Science',
  0.56486557,
  25,
  2741,
  2470,
  711,
  1584,
  223,
  0.075236167,
  41000,
  20000,
  60000,
  1369,
  921,
  135),
 (55,
  56,
  2303,
  'SCHOOL STUDENT COUNSELING',
  818.0,
  119.0,
  699.0,
  'Education',
  0.854523227,
  4,
  730,
  595,
  135,
  545,
  88,
  0.10757946199999999,
  41000,
  41000,
  43000,
  509,
  221,
  0),
 (56,
  57,
  5505,
  'INTERNATIONAL RELATIONS',
  28187.0,
  10345.0,
  17842.0,
  'Social Science',
  0.632986838,
  219,
  21190,
  18681,
  5563,
  13583,
  2271,
  0.09679894300000001,
  40100,
  31200,
  53000,
  6774,
  9570,
  2499),
 (57,
  58,
  6200,
  'GENERAL BUSINESS',
  234590.0,
  132238.0,
  102352.0,
  'Business',
  0.43630163299999997,
  2380,
  190183,
  171385,
  36241,
  138299,
  14946,
  0.072861468,
  40000,
  30000,
  55000,
  29334,
  100831,
  27320),
 (58,
  59,
  1401,
  'ARCHITECTURE',
  46420.0,
  25463.0,
  20957.0,
  'Engineering',
  0.451464886,
  362,
  34158,
  29223,
  10206,
  20026,
  4366,
  0.113331949,
  40000,
  31000,
  50000,
  16178,
  13724,
  4221),
 (59,
  60,
  6210,
  'INTERNATIONAL BUSINESS',
  25894.0,
  10624.0,
  15270.0,
  'Business',
  0.589711902,
  260,
  19660,
  17563,
  4890,
  12823,
  2092,
  0.096175064,
  40000,
  30000,
  50000,
  3383,
  9482,
  3046),
 (60,
  61,
  6108,
  'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
  23551.0,
  8697.0,
  14854.0,
  'Health',
  0.6307163179999999,
  38,
  16620,
  12537,
  5346,
  9131,
  977,
  0.055520827,
  40000,
  20000,
  90000,
  11573,
  4493,
  1121),
 (61,
  62,
  3603,
  'MOLECULAR BIOLOGY',
  18300.0,
  7426.0,
  10874.0,
  'Biology & Life Science',
  0.59420765,
  90,
  11581,
  9441,
  4590,
  6183,
  1067,
  0.084361164,
  40000,
  29000,
  47000,
  7225,
  3145,
  1168),
 (62,
  63,
  6299,
  'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION',
  17947.0,
  10285.0,
  7662.0,
  'Business',
  0.42692372,
  244,
  14826,
  13364,
  3366,
  10637,
  1150,
  0.071982974,
  40000,
  30000,
  51000,
  2236,
  8937,
  1758),
 (63,
  64,
  1101,
  'AGRICULTURE PRODUCTION AND MANAGEMENT',
  14240.0,
  9658.0,
  4582.0,
  'Agriculture & Natural Resources',
  0.321769663,
  273,
  12323,
  11119,
  2196,
  9093,
  649,
  0.050030835999999995,
  40000,
  25000,
  50000,
  1925,
  6221,
  1362),
 (64,
  65,
  1100,
  'GENERAL AGRICULTURE',
  10399.0,
  6053.0,
  4346.0,
  'Agriculture & Natural Resources',
  0.4179248,
  158,
  8884,
  7589,
  2031,
  5888,
  178,
  0.019642463,
  40000,
  30000,
  50000,
  2418,
  4717,
  839),
 (65,
  66,
  2599,
  'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
  8804.0,
  7043.0,
  1761.0,
  'Engineering',
  0.200022717,
  125,
  7502,
  7001,
  1240,
  5825,
  416,
  0.05253852,
  40000,
  30400,
  56000,
  2446,
  3896,
  386),
 (66,
  67,
  2504,
  'MECHANICAL ENGINEERING RELATED TECHNOLOGIES',
  4790.0,
  4419.0,
  371.0,
  'Engineering',
  0.07745302700000001,
  71,
  4186,
  4175,
  247,
  3607,
  250,
  0.056357078,
  40000,
  27000,
  52000,
  1861,
  2121,
  406),
 (67,
  68,
  3605,
  'GENETICS',
  3635.0,
  1761.0,
  1874.0,
  'Biology & Life Science',
  0.515543329,
  11,
  2463,
  1787,
  847,
  1487,
  87,
  0.034117647,
  40000,
  34000,
  45000,
  1675,
  678,
  201),
 (68,
  69,
  5599,
  'MISCELLANEOUS SOCIAL SCIENCES',
  3283.0,
  1499.0,
  1784.0,
  'Social Science',
  0.5434054220000001,
  28,
  2727,
  2183,
  907,
  1530,
  215,
  0.073079538,
  40000,
  30000,
  54000,
  744,
  1654,
  573),
 (69,
  70,
  6403,
  'UNITED STATES HISTORY',
  3079.0,
  1756.0,
  1323.0,
  'Humanities & Liberal Arts',
  0.429684963,
  22,
  2787,
  2103,
  839,
  1274,
  138,
  0.047179487,
  40000,
  30000,
  42000,
  801,
  1591,
  302),
 (70,
  71,
  5205,
  'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY',
  3014.0,
  1075.0,
  1939.0,
  'Psychology & Social Work',
  0.643331121,
  24,
  2343,
  1644,
  1095,
  1409,
  286,
  0.10878661099999999,
  40000,
  32000,
  53000,
  559,
  1224,
  272),
 (71,
  72,
  1102,
  'AGRICULTURAL ECONOMICS',
  2439.0,
  1749.0,
  690.0,
  'Agriculture & Natural Resources',
  0.28290282899999997,
  44,
  2174,
  1819,
  620,
  1528,
  182,
  0.077249576,
  40000,
  27000,
  54000,
  535,
  893,
  94),
 (72,
  73,
  5000,
  'PHYSICAL SCIENCES',
  1436.0,
  894.0,
  542.0,
  'Physical Sciences',
  0.377437326,
  10,
  1146,
  768,
  437,
  653,
  42,
  0.035353535,
  40000,
  30000,
  55000,
  530,
  465,
  269),
 (73,
  74,
  3801,
  'MILITARY TECHNOLOGIES',
  124.0,
  124.0,
  0.0,
  'Industrial Arts & Consumer Services',
  0.0,
  4,
  0,
  111,
  0,
  111,
  0,
  0.0,
  40000,
  40000,
  40000,
  0,
  0,
  0),
 (74,
  75,
  5003,
  'CHEMISTRY',
  66530.0,
  32923.0,
  33607.0,
  'Physical Sciences',
  0.5051405379999999,
  353,
  48535,
  39509,
  15066,
  29910,
  2769,
  0.053972400000000004,
  39000,
  30000,
  49900,
  30382,
  14718,
  4288),
 (75,
  76,
  5701,
  'ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION',
  2435.0,
  1869.0,
  566.0,
  'Industrial Arts & Consumer Services',
  0.23244353199999998,
  37,
  2107,
  2057,
  287,
  1752,
  64,
  0.029479502999999997,
  38400,
  22500,
  45000,
  221,
  1659,
  81),
 (76,
  77,
  6203,
  'BUSINESS MANAGEMENT AND ADMINISTRATION',
  329927.0,
  173809.0,
  156118.0,
  'Business',
  0.473189524,
  4212,
  276234,
  251540,
  50357,
  199897,
  21502,
  0.07221834099999999,
  38000,
  29000,
  50000,
  36720,
  148395,
  32395),
 (77,
  78,
  6206,
  'MARKETING AND MARKETING RESEARCH',
  205211.0,
  78857.0,
  126354.0,
  'Business',
  0.615727227,
  2684,
  178862,
  156668,
  35829,
  127230,
  11663,
  0.061215064000000007,
  38000,
  30000,
  50000,
  25320,
  93889,
  27968),
 (78,
  79,
  5506,
  'POLITICAL SCIENCE AND GOVERNMENT',
  182621.0,
  93880.0,
  88741.0,
  'Social Science',
  0.485929877,
  1387,
  133454,
  117709,
  43711,
  83236,
  15022,
  0.101174601,
  38000,
  28000,
  50000,
  36854,
  66947,
  19803),
 (79,
  80,
  5504,
  'GEOGRAPHY',
  18480.0,
  11404.0,
  7076.0,
  'Social Science',
  0.382900433,
  179,
  14057,
  11367,
  5651,
  8628,
  1799,
  0.113458628,
  38000,
  30000,
  50000,
  5350,
  6830,
  1905),
 (80,
  81,
  3606,
  'MICROBIOLOGY',
  15232.0,
  6383.0,
  8849.0,
  'Biology & Life Science',
  0.580948004,
  62,
  9685,
  7453,
  3379,
  5080,
  693,
  0.066775872,
  38000,
  29600,
  50000,
  5577,
  3174,
  1246),
 (81,
  82,
  2106,
  'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
  8066.0,
  6607.0,
  1459.0,
  'Computers & Mathematics',
  0.180882718,
  103,
  6509,
  6289,
  1030,
  4936,
  721,
  0.099723375,
  37500,
  25000,
  50000,
  2354,
  3244,
  308),
 (82,
  83,
  3601,
  'BIOCHEMICAL SCIENCES',
  39107.0,
  18951.0,
  20156.0,
  'Biology & Life Science',
  0.515406449,
  174,
  25678,
  20643,
  9948,
  13785,
  2249,
  0.080531385,
  37400,
  29000,
  50000,
  15654,
  8394,
  3012),
 (83,
  84,
  3602,
  'BOTANY',
  1329.0,
  626.0,
  703.0,
  'Biology & Life Science',
  0.52896915,
  9,
  1010,
  946,
  169,
  740,
  0,
  0.0,
  37000,
  26000,
  40000,
  677,
  184,
  56),
 (84,
  85,
  2107,
  'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
  7613.0,
  5291.0,
  2322.0,
  'Computers & Mathematics',
  0.305004597,
  97,
  6144,
  5495,
  1447,
  4369,
  1100,
  0.151849807,
  36400,
  27000,
  49000,
  2593,
  2941,
  352),
 (85,
  86,
  5004,
  'GEOLOGY AND EARTH SCIENCE',
  10972.0,
  5813.0,
  5159.0,
  'Physical Sciences',
  0.470196865,
  78,

o bien utilizando read_sql_query que nos regresa un DataFrame. En este notebook utilizaremos el segundo porque nos arroja un output más legible

In [38]:
pd.read_sql_query("SELECT * FROM recent_grads", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,6,7,6202,ACTUARIAL SCIENCE,3777.0,2110.0,1667.0,Business,0.441356,51,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,8,9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,9,10,2408,ELECTRICAL ENGINEERING,81527.0,65511.0,16016.0,Engineering,0.196450,631,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
10,10,11,2407,COMPUTER ENGINEERING,41542.0,33258.0,8284.0,Engineering,0.199413,399,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
11,11,12,2401,AEROSPACE ENGINEERING,15058.0,12953.0,2105.0,Engineering,0.139793,147,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
12,12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
13,13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
14,14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,4321.0,3526.0,795.0,Engineering,0.183985,30,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
15,15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
16,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
17,17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
18,18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
19,19,20,3201,COURT REPORTING,1148.0,877.0,271.0,Law & Public Policy,0.236063,14,...,223,808,11,0.011690,54000,50000,54000,402,528,144
20,20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
21,21,22,1104,FOOD SCIENCE,NaN,NaN,NaN,Agriculture & Natural Resources,NaN,36,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
22,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
24,24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,18713.0,13496.0,5217.0,Business,0.278790,278,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
25,25,26,2406,CIVIL ENGINEERING,53153.0,41081.0,12072.0,Engineering,0.227118,565,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
26,26,27,5601,CONSTRUCTION SERVICES,18498.0,16820.0,1678.0,Industrial Arts & Consumer Services,0.090713,295,...,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
27,27,28,6204,OPERATIONS LOGISTICS AND E-COMMERCE,11732.0,7921.0,3811.0,Business,0.324838,156,...,1183,7724,504,0.047859,50000,40000,60000,1466,3629,285
28,28,29,2499,MISCELLANEOUS ENGINEERING,9133.0,7398.0,1735.0,Engineering,0.189970,118,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
29,29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,144,1105,PLANT SCIENCE AND AGRONOMY,7416.0,4897.0,2519.0,Agriculture & Natural Resources,0.339671,110,...,1246,4522,314,0.045455,32000,22900,40000,2089,3545,1231
144,144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,6483.0,2049.0,4434.0,Education,0.683943,59,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
145,145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
146,146,147,6002,MUSIC,60633.0,29909.0,30724.0,Arts,0.506721,419,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
147,147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,28213.0,15670.0,12543.0,Education,0.444582,259,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
148,148,149,6006,ART HISTORY AND CRITICISM,21030.0,3240.0,17790.0,Humanities & Liberal Arts,0.845934,204,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
149,149,150,6000,FINE ARTS,74440.0,24786.0,49654.0,Arts,0.667034,623,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
150,150,151,2901,FAMILY AND CONSUMER SCIENCES,58001.0,5166.0,52835.0,Industrial Arts & Consumer Services,0.910933,518,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
151,151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
152,152,153,1103,ANIMAL SCIENCES,21573.0,5347.0,16226.0,Agriculture & Natural Resources,0.752144,255,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
153,153,154,6003,VISUAL AND PERFORMING ARTS,16250.0,4133.0,12117.0,Arts,0.745662,132,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
154,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,14443.0,2734.0,11709.0,Education,0.810704,142,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
155,155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
157,157,158,3402,HUMANITIES,6652.0,2013.0,4639.0,Humanities & Liberal Arts,0.697384,49,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
158,158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,30207.0,18616.0,11591.0,Humanities & Liberal Arts,0.383719,310,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
159,159,160,6007,STUDIO ARTS,16977.0,4754.0,12223.0,Arts,0.719974,182,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
160,160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,10510.0,4364.0,6146.0,Industrial Arts & Consumer Services,0.584776,117,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
161,161,162,1199,MISCELLANEOUS AGRICULTURE,1488.0,404.0,1084.0,Agriculture & Natural Resources,0.728495,24,...,335,936,82,0.059767,29000,23000,42100,483,626,31
162,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,38844.0,11376.0,27468.0,Humanities & Liberal Arts,0.707136,247,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
163,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
164,164,165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
165,165,166,2603,OTHER FOREIGN LANGUAGES,11204.0,3472.0,7732.0,Humanities & Liberal Arts,0.690111,56,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
166,166,167,6001,DRAMA AND THEATER ARTS,43249.0,14440.0,28809.0,Arts,0.666119,357,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
167,167,168,3302,COMPOSITION AND RHETORIC,18953.0,7022.0,11931.0,Humanities & Liberal Arts,0.629505,151,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
168,168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,...,237,410,87,0.104946,22000,20000,22000,288,338,192

### Recent Grads

Primero podemos imprimir las primeras 5 observaciones de la base de datos (similar al método head)

In [40]:
pd.read_sql_query("SELECT * FROM recent_grads LIMIT 5;", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

#### 1. Escribe una sentencia de SQL que regrese las primeras 10 filas

Ahora podemos ver que hay maneras adicionales para pedirle que nos regrese una columna en particular

In [43]:
pd.read_sql_query("SELECT Major FROM recent_grads LIMIT 5;", con)

                                       Major
0                      PETROLEUM ENGINEERING
1             MINING AND MINERAL ENGINEERING
2                  METALLURGICAL ENGINEERING
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING
4                       CHEMICAL ENGINEERING

Del mismo modo podemos pedirle que nos regrese un par de columnas si separamos por comas

In [44]:
pd.read_sql_query("SELECT Major, Major_category FROM recent_grads LIMIT 5;",con)

                                       Major Major_category
0                      PETROLEUM ENGINEERING    Engineering
1             MINING AND MINERAL ENGINEERING    Engineering
2                  METALLURGICAL ENGINEERING    Engineering
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4                       CHEMICAL ENGINEERING    Engineering

Estas querys nos regresan toda la columna de Major y Major category, pero podemos pedirle que sólo nos regrese aquellos records donde la proporción de mujeres (Sharewomen) es preponderante (>=0.5)

In [46]:
pd.read_sql_query("""
SELECT Major FROM recent_grads
WHERE ShareWomen >= 0.5 LIMIT 5;
""", con)

                                               Major
0                         ASTRONOMY AND ASTROPHYSICS
1                                      PUBLIC POLICY
2                                            NURSING
3  NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
4                                         ACCOUNTING

#### 2. Selecciona con una Query que regrese las Majors donde las mujeres son minoría, sólo regresa las columnas de Major y ShareWomen (en ese orden) y limita las filas regresadas a 10

Podemos seleccionar sin ningún problema las filas de una base de datos filtrando por más de una condición de la siguiente forma

In [57]:
pd.read_sql_query("""
SELECT * FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.2);
""", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
1,12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
2,13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
3,15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
4,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
5,17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
6,18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
7,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
8,23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
9,25,26,2406,CIVIL ENGINEERING,53153.0,41081.0,12072.0,Engineering,0.227118,565,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
10,30,31,2410,ENVIRONMENTAL ENGINEERING,4047.0,2662.0,1385.0,Engineering,0.342229,26,...,930,1951,308,0.093589,50000,42000,56000,2028,830,260
11,31,32,2500,ENGINEERING TECHNOLOGIES,3600.0,2695.0,905.0,Engineering,0.251389,39,...,689,1723,163,0.055030,50000,43000,60000,1017,1269,142
12,33,34,2411,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,720.0,488.0,232.0,Engineering,0.322222,5,...,126,396,49,0.075038,50000,42800,57000,501,50,49
13,38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,4631.0,3477.0,1154.0,Engineering,0.249190,73,...,597,3242,129,0.028308,46000,35000,65000,1394,2454,480
14,58,59,1401,ARCHITECTURE,46420.0,25463.0,20957.0,Engineering,0.451465,362,...,10206,20026,4366,0.113332,40000,31000,50000,16178,13724,4221
15,65,66,2599,MISCELLANEOUS ENGINEERING TECHNOLOGIES,8804.0,7043.0,1761.0,Engineering,0.200023,125,...,1240,5825,416,0.052539,40000,30400,56000,2446,3896,386

#### 3. Escribe una query que regrese todas las majors donde la mayoría son mujeres y todas las majors donde la mediana del salario es mayor que 50000, incluye las siguientes columnas en los resultados: Major, Major_category, Median, ShareWomen

Así como utilizamos el operador AND en el ejercicio pasado podemos sin problemas utilizar el operador OR

#### 4. Escribe una query que regrese las primeras 20 majors que 1) tengan una mediana salarial mayor o igual a 10,000 ó 2) tengan menos o igual a 1,000 personas desempleadas (unemployed). Inclyte las siguientes columnas en los resultados: Major, Median, Unemployed

Para escribir lógica más compleja debemos agrupar nuestras condiciones en paréntesis, así podemos correr lo siguiente

In [61]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate
FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051);
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
1,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
2,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
3,MATERIALS SCIENCE,Engineering,0.310820,0.023043
4,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334
5,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
6,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
7,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
8,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652

#### 5. Escribe una query que regrese todos los Engineering majors que: tienen más de 20% de mujeres ó tienen una tasa de desempleo menor al 5.1%. Regresa en los resultados las columnas: Major, Major_category, ShareWomen, Unemployment_rate

Podemos querer además de obtener los resultados ordenarlos de tal manera que nos parezcan más legibles, esto se consigue aplicando la instrucción ORDER BY

In [64]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category='Engineering') AND (ShareWomen>0.2 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate;
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334
1,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
2,MATERIALS SCIENCE,Engineering,0.310820,0.023043
3,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
4,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
5,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
6,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652
7,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
8,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
9,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,0.200023,0.052539
10,ENGINEERING TECHNOLOGIES,Engineering,0.251389,0.055030
11,GENERAL ENGINEERING,Engineering,0.252960,0.059824
12,CHEMICAL ENGINEERING,Engineering,0.341631,0.061098
13,ARCHITECTURAL ENGINEERING,Engineering,0.350442,0.061931
14,CIVIL ENGINEERING,Engineering,0.227118,0.070610
15,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering,0.322222,0.075038
16,BIOLOGICAL ENGINEERING,Engineering,0.320784,0.087143
17,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,0.292607,0.087557
18,BIOMEDICAL ENGINEERING,Engineering,0.437847,0.092084
19,ENVIRONMENTAL ENGINEERING,Engineering,0.342229,0.093589
20,ARCHITECTURE,Engineering,0.451465,0.113332

Si quisieramos ordenar descendentemente, entonces escribiríamos 'DESC'

In [65]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category='Engineering') AND (ShareWomen>0.2 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate DESC;
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,ARCHITECTURE,Engineering,0.451465,0.113332
1,ENVIRONMENTAL ENGINEERING,Engineering,0.342229,0.093589
2,BIOMEDICAL ENGINEERING,Engineering,0.437847,0.092084
3,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,0.292607,0.087557
4,BIOLOGICAL ENGINEERING,Engineering,0.320784,0.087143
5,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering,0.322222,0.075038
6,CIVIL ENGINEERING,Engineering,0.227118,0.070610
7,ARCHITECTURAL ENGINEERING,Engineering,0.350442,0.061931
8,CHEMICAL ENGINEERING,Engineering,0.341631,0.061098
9,GENERAL ENGINEERING,Engineering,0.252960,0.059824
10,ENGINEERING TECHNOLOGIES,Engineering,0.251389,0.055030
11,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,0.200023,0.052539
12,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
13,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
14,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652
15,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
16,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
17,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
18,MATERIALS SCIENCE,Engineering,0.310820,0.023043
19,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
20,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334

#### 6. Escribe una query que regrese todas las majors donde la proporción de mujeres es mayor a 30% y la tasa de desempleo es menor a 10%, incluye la siguientes columnas en tus resultados Major, ShareWomen, Unemployment_rate y finalmente orden tus resultados en orden descendente

#### 7. Escribe una query que regrese todas las majors que sean 'Engineering' o 'Physical Sciences' en orden ascendente de tasas de desempleo (Unemployment_rate). Regresa en tus resultados las columnas Major_category, Major y Unemployment Rate

#### Estadística descriptiva

Hasta ahora hemos regresado, filtrado y ordenado sólo los datos de la tabla pero para resolver preguntas más interesantes tenemos que poder realizar operaciones con estos datos

Por ejemplo, queremos saber cuantas Majors tienen más de 25% de mujeres

Si escribimos

In [68]:
pd.read_sql_query("""
SELECT Major FROM recent_grads
WHERE ShareWomen > 0.25;
""", con)

                                                 Major
0                                 CHEMICAL ENGINEERING
1                                    ACTUARIAL SCIENCE
2                           ASTRONOMY AND ASTROPHYSICS
3                               BIOMEDICAL ENGINEERING
4                                    MATERIALS SCIENCE
5                               BIOLOGICAL ENGINEERING
6             INDUSTRIAL AND MANUFACTURING ENGINEERING
7                                  GENERAL ENGINEERING
8                            ARCHITECTURAL ENGINEERING
9                    ELECTRICAL ENGINEERING TECHNOLOGY
10         MATERIALS ENGINEERING AND MATERIALS SCIENCE
11       MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
12                 OPERATIONS LOGISTICS AND E-COMMERCE
13                                       PUBLIC POLICY
14                           ENVIRONMENTAL ENGINEERING
15                            ENGINEERING TECHNOLOGIES
16                             MISCELLANEOUS FINE ARTS
17              GEOLOGICAL AND GEOPHYSICAL ENGINEERING
18                                             NURSING
19                                             FINANCE
20                                           ECONOMICS
21                                  BUSINESS ECONOMICS
22   NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
23                                          ACCOUNTING
24                                         MATHEMATICS
25                    COMPUTER AND INFORMATION SYSTEMS
26                                             PHYSICS
27                    MEDICAL TECHNOLOGIES TECHNICIANS
28                     STATISTICS AND DECISION SCIENCE
29                                 APPLIED MATHEMATICS
..                                                 ...
116                         PLANT SCIENCE AND AGRONOMY
117             SCIENCE AND COMPUTER TEACHER EDUCATION
118                                         PSYCHOLOGY
119                                              MUSIC
120             PHYSICAL AND HEALTH EDUCATION TEACHING
121                          ART HISTORY AND CRITICISM
122                                          FINE ARTS
123                       FAMILY AND CONSUMER SCIENCES
124                                        SOCIAL WORK
125                                    ANIMAL SCIENCES
126                         VISUAL AND PERFORMING ARTS
127                 TEACHER EDUCATION: MULTIPLE LEVELS
128                           MISCELLANEOUS PSYCHOLOGY
129          HUMAN SERVICES AND COMMUNITY ORGANIZATION
130                                         HUMANITIES
131                   THEOLOGY AND RELIGIOUS VOCATIONS
132                                        STUDIO ARTS
133             COSMETOLOGY SERVICES AND CULINARY ARTS
134                          MISCELLANEOUS AGRICULTURE
135                        ANTHROPOLOGY AND ARCHEOLOGY
136      COMMUNICATION DISORDERS SCIENCES AND SERVICES
137                          EARLY CHILDHOOD EDUCATION
138                            OTHER FOREIGN LANGUAGES
139                             DRAMA AND THEATER ARTS
140                           COMPOSITION AND RHETORIC
141                                            ZOOLOGY
142                             EDUCATIONAL PSYCHOLOGY
143                                CLINICAL PSYCHOLOGY
144                              COUNSELING PSYCHOLOGY
145                                    LIBRARY SCIENCE

[146 rows x 1 columns]

sin embargo lo más efectivo para saber cuántas majors son en total es utilizar la función COUNT()

In [69]:
pd.read_sql_query("""
SELECT COUNT(Major) FROM recent_grads
WHERE ShareWomen > 0.25;
""", con)

   COUNT(Major)
0           146

#### 8. Cuenta cuántas majors existen donde la proporción de mujeres sea menor al 30%

Otras funciones útiles son MIN() y MAX(), podemos escribir

In [71]:
pd.read_sql_query("""
SELECT MIN(ShareWomen) 
FROM recent_grads;
""", con)

   MIN(ShareWomen)
0              0.0

Es interesante que haya una Major que no tiene mujeres en nuestro dataset

#### 9. Escribe una query que regrese los majors de Engineering que tengan el menor salario mediano. Regresa sólo las columnas Major, Major_category y MIN(Median) en tus resultados

Otras funciones útiles son SUM() y AVG()

#### 10. Escribe una query que regrese la suma de la columna 'Total' que contiene el total de estudiantes y una segunda query que nos regrese el promedio de la columna 'Total'

In [74]:
pd.read_sql_query("""
SELECT AVG(Total)
FROM recent_grads;
""", con)

     AVG(Total)
0  39370.081395

En vez de escribir una query individual para cada pregunta podemos escribir todas juntas

In [75]:
pd.read_sql_query("""
SELECT MIN(Median), MAX(Median), SUM(Total)
FROM recent_grads;
""", con)

   MIN(Median)  MAX(Median)  SUM(Total)
0        22000       110000   6771654.0

#### 11. Escribe una query que calcule el promedio de la columna Total, el mínimo de la columna Women y el máximo de la columna Women

GROUP BY nos sirve para agrupar estadísticas por categoría

In [77]:
pd.read_sql_query("""
SELECT SUM(Employed) 
FROM recent_grads 
GROUP BY Major_category;
""", con)

    SUM(Employed)
0           66943
1          288114
2          302797
3         1088742
4          330660
5          237894
6          479839
7          420372
8          372147
9          544118
10         189043
11           9821
12         144790
13         139231
14         380344
15         401493

#### 12. Utiliza select para seleccionar las columnas Major_category y AVG(Share_Women) utiliza GROUP BY para agrupar por Major_category

In [ ]:
con.close()